@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&display=swap')
body, html, #root
  padding: 0
  margin: 0
  font-family: 'Noto Sans TC' ,Moco ,Hack, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif
